doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
    form.writeblog(action='/writeblog', method='POST')
      | heading:
      input.heading(type='text', name='heading')
      br
      |         content:
      input.content(type='text', name='content')
      br
      br
      input.submit(type='submit', value='add blog')
